 body
 {
    background: url(https://cdn.wallpapersafari.com/17/42/BKrebC.jpeg);
    text-align: center;
    font-family: Arial;
    background-attachment: fixed;
    color: rgb(126, 126, 126);
    backdrop-filter: blur(2px);
 }
 img
 {
    width: 200px;
    border-radius : 10px;
 }