img 
{
    width: 200px;
    border-radius : 10px;
    
body 
{
    text-align: center;
    font-family: 'Arial';
    background: url(https://cdn.wallpapersafari.com/17/42/BKrebC.jpeg);
    background-attachment: fixed;
    color: rgb(158, 158, 161);
    font-size: larger;
    backdrop-filter: blur(4px); 
}